export(
  "schemaOnRead",
  "defaultProcessors",
  "simpleProcessors",
  "checkExtensions"
)
importFrom(
  "tools",
  "file_ext"
)
importFrom(
  "readbitmap",
  "read.bitmap",
  "image_type"
)
importFrom(
  "network",
  "read.paj"
)
importFrom(
  "readODS",
  "read.ods"
)
importFrom(
  "caTools",
  "read.gif"
)
importFrom(
  "tiff",
  "readTIFF"
)
importFrom(
  "readxl",
  "excel_sheets",
  "read_excel"
)
importFrom(
  "ncdf4",
  "nc_open",
  "ncvar_get"
)
importFrom(
  "xml2",
  "read_xml",
  "read_html"
)
importFrom(
  "haven",
  "read_spss",
  "read_stata",
  "read_sas"
)
importFrom(
  "foreign",
  "read.epiinfo",
  "read.arff",
  "read.dbf",
  "read.systat"
)
importFrom(
  "utils",
  "read.csv"
)
